body{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.header1{
    width: 100%;
	height: 500px;
	background: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,.05)),
	url(picture20.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
    animation: background 3s ease;
}
.header2{
    width: 100%;
	height: 500px;
	background: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,.05)),
	url(african-american-family.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
    animation: background 3s ease;
}
h1{
    color: #00A6FF;
    margin-top:10%;
    text-align: center;
    font-size: 60px;
    font-weight: normal;
    color: #fff;
    /* position: relative;
    animation: mymove 5s; */
	
}
h3{
    color: #00A6FF;
}
h6{
    color: #00A6FF;
}
#free{
    color: #fff;
    font-size: large;
}
i:hover{
    color: grey;
}
.headercontainer{
    display: none;
    
}
.containimage{
	height:inherit;
	width: inherit;
	display: flex;
	flex-direction: column;
	line-height: 3rem;
}
/* social media */
.fa{
    border-radius: 50%;
    text-align: center;
    align-items: center;
    font-size: 30px;
    width: 70px;
    padding: 20px;
    margin: 5px 2px;
    text-decoration: none;
}
.fa-facebook {
    background: #00A6FF;
    color: white;
  }
  
  .fa-twitter {
    background: #00A6FF;
    color: white;
  }
  .fa-book{
    background: #00A6FF;
    color: white;
  }
  .fa-area-chart{
    background: #00A6FF;
    color: white;
  }
  .fa-bell{
        background: #00A6FF;
        color: white;
  }
  .fa-fighter-jet{
    background: #00A6FF;
    color: white;
  }
  .fa-google {
    background: #00A6FF;
    color: white;
  }
  .fa-camera {
    background: #00A6FF;
    color: white;
  }
  .fa-edit {
    background: #00A6FF;
    color: white;
  }
  .fa-upload {
    background: #00A6FF;
    color: white;
  }
  .fa-linkedin {
    background: #00A6FF;
    color: white;
  }
  .fa:hover{
      background-color: rgba(80, 72, 72, 0.2);
      text-decoration: none;
      color: white;
  }


  /* @keyframes mymove {
    from {left: 0px;}
    to {left: 50%;}
  } */

 
  #pro{
      align-content: center;
      border-radius: 50%;
      text-align: center;
      width: 50%;
  }
